.col {
	height: 450px;
	width: 50%;
	background-color: white;
	border: 2px solid black;
	margin: 0 0 50px 0;
	float: left;
}

.jumbotron {
	border: 5px solid red;
	padding-bottom: 20px;
}

.btn, .btn-danger{
	min-width: 200px;
	margin-top: 20px;
}

img {
	width: 80%;
	margin-left: 10%;
}

body {
	background-color: #808080;
}

.introduction, .score, .guess-word, .guess-count, .choices, .result {
	text-align: center;
}

#win-title, #win-section, #loss-title, #loss-section {
	width: 50%;
	float: left;
}